*,*:after,*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  margin: 0 auto;
  width: 90%;
}

.header{
  padding: 10px 0;
  background-color: rgb(148 200 206);
}
.header__container{
  display: flex;
  justify-content: flex-end;
}


.logout{
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  border: none;
  background-color: rgb(39, 177, 69);
  color: antiquewhite;
  text-transform: uppercase;
  text-decoration: none;
}

.main{
  padding: 20px 0;
}

.search__nickname{
  padding: 10px 0 5px;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 18px;
  outline: none;
}
.sort{
  margin-top: 10px;
}

.users{
  margin-top: 30px;
}
.users__table{
  width: 100%;
  border-spacing: 0;
}

th, td{
  padding: 5px 7px;
  text-align: left;
}

tbody tr:nth-child(odd){
  background-color: rgb(219, 219, 219);
}

.auth{
  padding-top: 30px;
}
.auth__container{
  display: flex;
  justify-content: center;
}
.auth__input{
  padding: 10px 0 5px;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 18px;
  outline: none;
}
.auth__password, .auth__submit{
  margin-top: 20px;
}
.auth__submit{
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  border: none;
  background-color: rgb(39, 177, 69);
  color: antiquewhite;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

